extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="post", enctype="multipart/form-data", action="/mails")
    input(type="file", name="mail")
    input(type="submit")

  table#table_id
    thead
      tr
        th Date
        th Subject
        th Score
        th X
        th Y

  script(src='/javascripts/table.js')


  h2= "HTML5 Canvas"
  canvas#canvas_id(width="800", height="500", style="background-color:#DDDDDD;")

  h2= "SVG"
  svg#svg_id(width="800", height="500", version="1.1", xmlns="http://www.w3.org/2000/svg")



