extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="post", enctype="multipart/form-data", action="/mails")
    input(type="file", name="mail")
    input(type="submit")

  table#table_id
    thead
      tr
        th Date
        th Subject
        th Score
        th X
        th Y

  canvas#canvas_id(width="800", height="500", style="background-color:#DDDDDD;")

  tbody

  script(src='/javascripts/table.js')



